<a href="https://colab.research.google.com/github/Greg682/Angelino_795413/blob/main/src/task1/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
url="https://raw.githubusercontent.com/Greg682/Angelino_795413/main/res/data/anagraficapazientiattivi.csv"
dsactivep=pd.read_csv(url)
dsactivep

,Unnamed: 0,idcentro,idana,sesso,annodiagnosidiabete,tipodiabete,scolarita,statocivile,professione,origine,annonascita,annoprimoaccesso,annodecesso
0,0,234,5697,M,2009.0,5,NaN,NaN,NaN,NaN,1949,2011.0,NaN
1,1,66,3539,M,2011.0,5,NaN,NaN,NaN,NaN,1933,2012.0,2015.0
2,2,100,3080,M,1988.0,5,NaN,NaN,NaN,NaN,1936,1991.0,NaN
3,3,112,3261,F,2014.0,5,NaN,NaN,NaN,NaN,1945,2014.0,NaN
4,4,160,9460,F,2014.0,5,NaN,NaN,NaN,NaN,1970,2016.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249995,71,24851,M,1982.0,5,2.0,NaN,9.0,NaN,1933,NaN,NaN
249996,249996,71,5333,M,1989.0,5,2.0,1.0,9.0,NaN,1941,NaN,NaN
249997,249997,71,6902,F,1995.0,5,2.0,2.0,9.0,NaN,1944,NaN,NaN
249998,249998,71,7154,F,1996.0,5,2.0,2.0,4.0,NaN,1942,NaN,NaN
249999,249999,71,17038,M,1984.0,5,2.0,2.0,NaN,NaN,1926,NaN,2015.0

In [4]:
dsactivep.shape

(250000, 13)

# **Check for duplicates**

In [5]:
duplicate_count = len(dsactivep)-len(dsactivep.drop_duplicates()) # Original data length (n. rows) - data length without duplicates

duplicate_count

0

# **Check for NANs**

In [ ]:
dsactivep.isnull().sum()#.sort_values(ascending=False)/len(dsactivep) #NaN percentage for each column

Unnamed: 0                  0
idcentro                    0
idana                       0
sesso                       0
annodiagnosidiabete      3546
tipodiabete                 0
scolarita              181063
statocivile            133261
professione            142576
origine                247403
annonascita                 0
annoprimoaccesso        43065
annodecesso            228952
dtype: int64

In [ ]:
dsactivep.isnull().sum().sort_values(ascending=False)/len(dsactivep) #NaN percentage for each column

origine                0.989612
annodecesso            0.915808
scolarita              0.724252
professione            0.570304
statocivile            0.533044
annoprimoaccesso       0.172260
annodiagnosidiabete    0.014184
Unnamed: 0             0.000000
idcentro               0.000000
idana                  0.000000
sesso                  0.000000
tipodiabete            0.000000
annonascita            0.000000
dtype: float64

annoprimoaccesso is an important information. It might be recovered using the date of the first diagnostic event. Let's check which are the rows

In [ ]:
dsactivep.sort_values(by='annodiagnosidiabete')

,Unnamed: 0,idcentro,idana,sesso,annodiagnosidiabete,tipodiabete,scolarita,statocivile,professione,origine,annonascita,annoprimoaccesso,annodecesso
167348,167348,159,512,F,1913.0,5,NaN,NaN,NaN,NaN,1913,NaN,2009.0
64649,64649,141,6403,M,1920.0,5,NaN,NaN,NaN,NaN,1920,1920.0,NaN
183407,183407,169,277,F,1922.0,5,NaN,NaN,NaN,NaN,1922,1981.0,2011.0
52307,52307,159,219,M,1922.0,5,NaN,NaN,NaN,NaN,1922,NaN,NaN
208287,208287,141,2071,M,1924.0,5,NaN,NaN,NaN,NaN,1924,2005.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
249960,249960,71,6826,F,NaN,5,NaN,2.0,NaN,NaN,1922,NaN,NaN
249961,249961,71,17306,F,NaN,5,NaN,3.0,NaN,NaN,1922,NaN,2018.0
249962,249962,71,3315,F,NaN,5,NaN,NaN,NaN,NaN,1911,NaN,2001.0
249963,249963,71,6888,F,NaN,5,NaN,2.0,4.0,NaN,1931,NaN,2017.0
249964,249964,71,17706,M,NaN,5,NaN,NaN,NaN,NaN,1924,NaN,2017.0

Check if there are non active patients

In [6]:
url="/content/drive/MyDrive/Challenge/sample/diagnosi.csv"
dsdiag=pd.read_csv(url)
dsdiag

         Unnamed: 0  idcentro  idana        data codiceamd  valore
0                 0         1      5  1980-01-01    AMD247  491.20
1                 1         1      5  1986-01-01    AMD247   272.0
2                 2         1      5  1987-01-01    AMD083     NaN
3                 3         1      5  1987-01-01    AMD247     401
4                 4         1      5  1997-12-01    AMD247     410
...             ...       ...    ...         ...       ...     ...
4978499     4978499       187   2557  2014-09-29    AMD119  362.11
4978500     4978500        54   4736  2017-10-23    AMD226   250.8
4978501     4978501       191  13425  2016-05-30    AMD226   250.8
4978502     4978502       191  14203  2016-05-26    AMD226   250.8
4978503     4978503         8  10610  2016-04-18    AMD227   250.8

[4978504 rows x 6 columns]

https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas

In [9]:
dsdiag.idana.unique

<bound method Series.unique of 0              5
1              5
2              5
3              5
4              5
           ...
4978499     2557
4978500     4736
4978501    13425
4978502    14203
4978503    10610
Name: idana, Length: 4978504, dtype: int64>